<h1>Kool Jamz</h1>

<h2>Playlists <a href="/playlists/new">(+)</a></h2>

<ul>
  <% @playlists.each do |playlist| %>
  <li>
    <a href="/playlists/<%= playlist.id %>">
      <%= playlist.title %> <br>
      <%= link_to 'Edit', edit_playlist_path(playlist) %>
      <%= link_to 'Delete', playlist_path(playlist),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </a>
  </li>
  <% end %>
</ul>
